{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto.

     * Create a button in `index.handlebars` that will submit the user input into the database. --}}
     



     <!-- This will be rendered with handlebar view pointing to index.handlebars -->

<div class="container">
     <!-- Put an image of a burger here -->
     <div class="row">
        
<img src="/assets/img/burger.jpg" alt="Burger pic">
</div>
    <div class="row" id="title">
     <h1>Eat-Da-Burger</h1>
     </div>
       {{!-- added burger area--}}  
      
       <div class="row" id="burger-list">
     <ul>
         {{#each burgers}}
         {{#unless devoured}}
            <li>
                <p>{{this.id}}. {{this.burger_name}}
                    <button class="devour" data-id="{{this.id}}" data-newdevour=1>Devour It</button>
                </p>

            </li>
            {{/unless}}
         {{/each}}
     </ul>
     </div>

     {{!-- devoured burger area --}}

<div class="row" id="devoured-list">
    <h2>Devoured Burger</h2>
     <ul>
         {{#each burgers}}
         {{#if devoured}}
            
                    {{>burgers/burger-block devour=false}} 
            {{/if}}
         {{/each}}
     </ul>
     </div>


            {{!-- adding burger --}}

     <div class="row" id="addburgertitle">
     <h2>Add Burger to eat here</h2>
    </div>
<form class="add-burger-form">
    
    <label for="burger">Burger Name:</label>
    <br>
    <textarea type="text" name="burger" id="burger"></textarea>
    <br>
    
    <button type="submit" class="add-burger">Add burger</button>
    </form> 

{{!-- editing burger --}}
{{!-- <div class="row" id="editburger">
<h2>Edit A Burger</h2>
<form id="editburger" class="button-size"><input type="text" name="id" placeholder="id"><textarea type="text" name="burger" placeholder="change the name of burger"></textarea><button type="submit">Update Burger</button></form> 
    </div>
</div> --}}

